<button mat-raised-button routerLink="{{ account.id }}" class="account-item">
  <div class="account-item-content">
    <mat-icon inline="true" class="account-icon">person</mat-icon>
    <div class="account-details">
      <app-data-viewer-field
        label="Account Number"
        value="{{ account.accountNumber }}"
        icon="account_balance"
      ></app-data-viewer-field>
      <app-data-viewer-field
        label="Full Name"
        value="{{ account.accountHolderName }}"
        icon="text_fields"
      ></app-data-viewer-field>
    </div>
  </div>
</button>
