.toolbar {
  position: fixed;
  top: 0;
  z-index: 5;

  & .side-nav-toggle {
    margin-right: 1rem;
  }

  & .toolbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & .toolbar-button {
      width: 6rem;
      border-radius: 0;
    }
  }
}

.side-nav-list {
  width: 16rem;
}
