<div>
  <mat-toolbar color="primary" class="mat-elevation-z8 toolbar">
    <button
      mat-icon-button
      class="side-nav-toggle"
      [style.display]="mobileQuery.matches ? 'unset' : 'none'"
      (click)="sideNav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="toolbar-content">
      <span>{{ title }}</span>

      <div [style.display]="mobileQuery.matches ? 'none' : 'unset'">
        <button mat-button class="toolbar-button" routerLink="">
          Home
        </button>
        <button mat-button class="toolbar-button" routerLink="accounts">
          Accounts
        </button>
        <button mat-button class="toolbar-button" routerLink="payments">
          Payments
        </button>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sideNav color="primary" mode="over" opened="false">
      <mat-toolbar></mat-toolbar>
      <mat-nav-list class="side-nav-list">
        <mat-list-item routerLink="" (click)="sideNav.toggle()">
          <mat-icon mat-list-icon>home</mat-icon>
          <p matLine>Home</p>
        </mat-list-item>
        <mat-list-item routerLink="accounts" (click)="sideNav.toggle()">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <p matLine>Accounts</p>
        </mat-list-item>
        <mat-list-item routerLink="payments" (click)="sideNav.toggle()">
          <mat-icon mat-list-icon>payment</mat-icon>
          <p matLine>Payments</p>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
