<div>
  <mat-toolbar
    color="primary"
    [class.mat-elevation-z2]="!isActive"
    class="toolbar"
  >
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <span>{{ title }}</span>

    <div class="spacer"></div>
    <div fxShow="true" fxHide.lt-md="true">
      <button mat-button class="toolbar-button" routerLink="">Home</button>
      <button mat-button class="toolbar-button" routerLink="accounts">
        Accounts
      </button>
      <button mat-button class="toolbar-button" routerLink="payments">
        Payments
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="sidenav-container">
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <div fxLayout="column">
        <mat-toolbar style="opacity: 0;"></mat-toolbar>
        <button mat-button class="sidenav-button" routerLink="">Home</button>
        <button mat-button class="sidenav-button" routerLink="accounts">
          Accounts
        </button>
        <button mat-button class="sidenav-button" routerLink="payments">
          Payments
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div style="height: 100vh;">
        <mat-toolbar style="opacity: 0;"></mat-toolbar>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
