<div class="page-content">
  <h1>
    Account
  </h1>

  <mat-card
    matRipple
    [style.width]="'2rem'"
    [style.height]="'2rem'"
    [style.border-radius]="'2rem'"
  >
    <mat-card-header>
      <mat-icon mat-card-avatar [style.font-size]="'2rem'">person</mat-icon>
    </mat-card-header>
  </mat-card>
  <div>{{ account.accountHolderName }}</div>
  <div>{{ account.accountNumber }}</div>
  <div>{{ account.accountHolderPhoneNumber }}</div>
  <div>{{ account.accountDescription }}</div>
</div>
