.account-viewer-header {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;

  justify-content: center;
  align-items: center;

  & h1 {
    margin: 1rem;
  }
}

.account-details-container {
  margin: auto auto;
  padding: 0 1.5rem 1rem 1.5rem;

  max-width: 1030px;

  & .spacer {
    height: 1rem;
  }
}
