<div class="page-content">
  <app-payment-header></app-payment-header>

  <div class="payment-details-container">
    <app-data-viewer-card
      label="Source"
      icon="account_balance"
      content="{{ payment.sourceAccountNumber }}"
    ></app-data-viewer-card>
    <div class="spacer"></div>
    <app-data-viewer-card
      label="Destination"
      icon="account_balance"
      content="{{ payment.destinationAccountNumber }}"
    ></app-data-viewer-card>
    <div class="spacer"></div>
    <app-data-viewer-card
      label="Amount"
      icon="attach_money"
      content="{{ payment.amount }} {{ payment.currencyCode | uppercase }}"
    ></app-data-viewer-card>
    <div class="spacer"></div>
    <app-data-viewer-card
      label="Description"
      icon="description"
      content="{{ payment.paymentDescription }}"
    ></app-data-viewer-card>
  </div>
</div>
